<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CADO Creations</title>

    <!-- Bootstrap and Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>

    <!-- icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/icon/favicon-16x16.png">
    <link rel="manifest" href="../static/img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- font family Baloo -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
</head>

<body class="body">

    <!--Navbar-->
    <!--Create nav bar with collapse for small screen-->
    <nav class=" navbar-expand-lg navbar-light navbar nav-color">


        <a class="navbar-brand" href="/">
            <img src="../static/img/Cado-Creations.png" alt="logo" style="width: 300px; height:80px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--convert the nav bar to small size with end the bar format-->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class= "collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" style= "color:#f2e880" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style= "color:#f2e880" href="/analysis">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"style= "color:#f2e880" href="/ml">Price Predictor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"style= "color:#f2e880" href="/tables">Tables</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link"style= "color:#f2e880" href="/data">Data</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link"style= "color:#f2e880" href="/resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style= "color:#f2e880" href="/about">About</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-top: 30px;">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Filters</div>
                    <div class="card-body">
                        <form action='/makePredictions' method = 'POST'>
                            <div class="row">
                                <div class="col-md-12" > 
                                    <!-- style="height: 500px;" -->

                                    <div class="form-group">
                                        <ul class="list-group" id="filters">
                                            <li class="filter list-group-item">
                                                <label class="col-form-label" for="total_volume">Total volume</label>
                                                <input class="form-control" id="total_volume"
                                                    value= 9683400 name='total_volume'>
                                            </li>
                                            <li class="filter list-group-item">
                                                <label class="col-form-label" for="year">Year</label>
                                                <input id="year" name='year' value=2020>
                                            </li>
                                            <li class = "filter list-group-item">
                                                <label class="col-form-label" for="region">Region</label><br>
                                                    <select id="region" name="region" onchange="optionChanged(this.value)"></select>
                                                <!-- <option value="Albany">Albany</option> -->
                                            </li>
                                            <li class="filter list-group-item">
                                                <label class= "col-form-label" for="month">Month</label><br>
                                                <select id="month" name=month>
                                                    <!--<option value="01">January</option>-->
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>

                                            </li>
                                        </ul> 
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="col-form-label" for="year">Year</label>
                                        <input id="year" name='year' value=2020>
                                        <select id="year" name='year'>
                                            <option value="2015">2015</option>
                                            <option value="2016">2016</option>
                                            <option value="2017">2017</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2022</option>
                                        </select>
                                    </div> -->
                                    <!-- <div class="form-group">
                                        <label class="col-form-label" for="region">Region</label>
                                        <label class="col-form-label" for="region">Region</label>
                                        <select id="region" name="region" onchange="optionChanged(this.value)">
                                            <option value="Albany">Albany</option>
                                            
                                        </select>
                                    </div> -->

                                    
                                    <!-- <div class="form-group">
                                        <label class="col-form-label" for="month">Month</label>
                                        <select id="month" name=month>
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div> -->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" value="Submit" class="btn btn-primary" id="filter"
                                        href="/makePredictions'">Make
                                        Prediction!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 30px;">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Price Prediction</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="height: 400px;">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1 id="output" value=0.00> $ {{ predictions }} <br> pound</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div id="chart">
            </div>
        </div>
    </div>

    <!-- <footer>
        <p>CADO Creations&copy;2021</p>
    </footer> -->

    <!-- our JS -->
    <script src="../static/js/regions.js"></script>
    <script src="../static/js/logic.js"></script>
</body>
<!-- our JS -->

<!-- <script src="../static/js/regions.js"></script>
<script src="../static/js/logic.js"></script> -->

</html>