<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CADO Creations</title>

    <!-- Bootstrap and Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>

    <!-- icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/icon/favicon-16x16.png">
    <link rel="manifest" href="../static/img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- font family Baloo -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
</head>

<body class="body">

    <!--Navbar-->
    <!--Create nav bar with collapse for small screen-->
    <nav class=" navbar-expand-lg navbar-light navbar nav-color">


        <a class="navbar-brand" href="/">
            <img src="../static/img/Cado-Creations.png" alt="logo" style="width: 300px; height:80px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--convert the nav bar to small size with end the bar format-->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" style="color:#f2e880" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/analysis">Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/ml">Price Predictor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/tables">Tables</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link"style= "color:#f2e880" href="/data">Data</a>
                </li> -->
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-top: 30px;">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Filters</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="height: 300px;">
                                <div class="form-group">
                                    <label class="col-form-label" for="type">Type</label>
                                    <select id="type">
                                        <option value="1">Organic</option>
                                        <option value="0">Conventional</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="month">Month</label>
                                    <select id="month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="plu">PLU Code</label>
                                    <select id="plu">
                                        <option value="4046">4046</option>
                                        <option value="4225">4225</option>
                                        <option value="4770">4770</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" id="filter">Make Prediction!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 30px;">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Price Prediction</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="height: 350px;">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1 id="output">0.00</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>