<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CADO Creations</title>

    <!-- Bootstrap and Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>

    <!-- icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/icon/favicon-16x16.png">
    <link rel="manifest" href="../static/img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- font family Baloo -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
</head>

<body class="body">

    <!--Navbar-->
    <!--Create nav bar with collapse for small screen-->
    <nav class=" navbar-expand-lg navbar-light navbar nav-color">


        <a class="navbar-brand" href="/">
            <img src="../static/img/Cado-Creations.png" alt="logo" style="width: 300px; height:80px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--convert the nav bar to small size with end the bar format-->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" style="color:#f2e880" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/analysis">Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/ml">Price Predictor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/tables">Tables</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link"style= "color:#f2e880" href="/data">Data</a>
                </li> -->
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->

    <!-- start container -->
    <div class="container-fluid" style="position:center;">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="../static/img/Cado-Creations.png" alt="logo" style="width: 300px; height:100px;">
            </div>
        </div>
        <div class="row text-center" style="margin-top:0%">
            <div class="col-md-12">
                <h6 class="display-4"><b>Resources</b></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl  style="margin-left:30%">

                    <dt><b>Data</b>
                    <dd>Data used is avocado-updated-2020.csv extracted from
                        <a href="https://www.kaggle.com/timmate/avocado-prices-2020">Kaggle.</a>
                        <a href="../Tableau/avocado-updated-2020.csv" download>Download.</a>
                    </dd>
                    </dt>
                    <dt><b>Images</b>
                    <dd>Landing page
                        <a href="https://media.giphy.com/media/3o85fUEkJPZ8uahsvS/giphy.gif">gif</a>
                    </dd>
                    <dd>Logo CADO.
                        <a href="../static/img/Cado-Creations.png">Original design by CADO Team</a>
                        <a href="../static/img/Cado-Creations.png" download>Download.</a>
                    </dd>
                    <dd>
                        About us
                        <a
                            href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHrO7xUdjMhYTqMaPES1LOBcenXWoo4abSwgcaPcTPOo5f4ObA">
                            animation</a>
                    </dd>
                    </dt>
                    <dt><b>Font</b>
                    <dd>
                        Baloo Tamma 2 from Google
                        <a href="https://fonts.google.com/specimen/Baloo+Tamma+2">Fonts</a>
                    </dd>
                    </dt>
                    <dt><b>Inspirations</b>
                    <dd>
                        Dallas Crime.
                        <a href="https://dallas-crime-smu.herokuapp.com/">Heroku Link</a>
                    </dd>
                    <dd>
                        Texas Accidents.
                        <a href="https://texas-accidents-smu.herokuapp.com/">Heroku Link</a>
                    </dd>
                    <dd>
                        Life expectancy.
                        <a href="https://smu-2021-capstone-group3.herokuapp.com/">Heroku Link</a>
                    </dd>
                    <dd>
                        The Avocado Wat
                        <a href="https://www.imdb.com/title/tt11064620/">Link</a>
                    </dd>
                    <dd>
                        MIT Technology Review
                        <a
                            href="https://www.technologyreview.com/2021/01/05/1015754/avocado-armchair-future-ai-openai-deep-learning-nlp-gpt3-computer-vision-common-sense/">
                            The Avocado Armchair</a>
                    </dd>
                    <dd>
                        Hass Avocado Board
                        <a href="https://hassavocadoboard.com/">Link</a>
                    </dd>
                    </dt>
                    <dt><b>Analysis</b>
                    <dd>
                        <a href="https://public.tableau.com/profile/karen.pearson#!/vizhome/CadoCreations/Story2-Organicvs_Conventional-AveragePrices">
                        Karen Pearson's Tableau Public
                        </a>
                    </dd>
                    <dd>
                        <a
                            href="https://public.tableau.com/profile/phillecia.qualls#!/vizhome/CadoCreationspart2/BagsSaleSizevsYearlySales">
                        Phillecia Qualls's Tableau Public
                        </a>
                            
                    </dd>
                    </dt>
                </dl>
            </div>
            <div class="col-md-6">
                    <dl style="margin-left:6%">
                        <dt><b>Code</b>
                            <dd>We have used GitHub for to merge our work.
                                <a href="https://github.com/hjfeldy/CADO">Link to GitHub Cado Repository</a>
                            </dd>
                        </dt>
                        <dt><b>Python</b>
                            <dd>
                                <a href=" https://scikit-learn.org/stable/">scikit-learn</a>
                            </dd>
                            <dd>
                                <a href="https://flask-doc.readthedocs.io/en/latest/">Flask</a>
                            </dd>
                            <dd>
                                <a href="https://pandas.pydata.org/docs/index.html">Pandas</a>
                            </dd>
                            <dd>
                                <a href="https://seaborn.pydata.org/">Seaborn</a>
                            </dd>
                            <dd>
                                <a href="https://matplotlib.org/">
                                MatPlotLib</a>
                            </dd>
                            <dd>
                                <a href="https://numpy.org/doc/stable/contents.html">
                                Numpy</>
                            </dd>
                            <dd>
                                <a href="https://docs.python.org/3/library/pickle.html">Pickle</a>
                            </dd>
                        </dt>
                        <dt><b>JavaScript</b>
                            <dd>
                                <a href="https://d3js.org/">D3</a>
                            </dd>
                        </dt>
                    </dl>
                    <dl style="margin-left:6%">
                        <dt><b>HTML5</b>
                            <dd>
                                <a href=""></a>
                            </dd>
                        </dt>
                        <dt><b>CSS</b>
                            <dd>
                                <a href="https://getbootstrap.com/">Bootstrap</a>
                            </dd>
                            <dd>
                                <a href="https://bootswatch.com/">Bootswatch</a>
                            </dd>
                        </dt>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->








    <!-- Footer-->
    <footer>
        <p>CADO Creations&copy;2021</p>
    </footer>

</body>

</html>