<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CADO Creations</title>

    <!-- Bootstrap and Bootswatch CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style-table.css">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
    <script src="https://unpkg.com/jeezy@1.13.1/lib/jeezy.min.js"></script>

    <!-- icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/icon/favicon-16x16.png">
    <link rel="manifest" href="../static/img/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/img/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- font family Baloo -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">

    

    

</head>

<body class="body">

    <!--Navbar-->
    <!--Create nav bar with collapse for small screen-->
    <nav class=" navbar-expand-lg navbar-light navbar nav-color">


        <a class="navbar-brand" href="/">
            <img src="../static/img/Cado-Creations.png" alt="logo" style="width: 300px; height:80px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--convert the nav bar to small size with end the bar format-->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" style="color:#f2e880" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/analysis">Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/ml">Price Predictor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/tables">Tables</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link"style= "color:#f2e880" href="/data">Data</a>
                </li> -->
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#f2e880" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-2">
                <aside class="filters">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter Search</div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">Enter a Date</label>
                                            <input class="form-control" id="date" type="text"
                                                placeholder="1/4/2015" value="1/4/2015" onchange="optionChanged(this.value)">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="price">Enter a Price</label>
                                            <input class="form-control" id="price" type="number" placeholder="2.00"
                                            onchange="optionChanged(this.value)" value="2.00">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="volume">Enter a Total Volume</label>
                                            <input class="form-control" id="volume" type="number" placeholder="9683400" 
                                            value = "9683400"
                                            onchange="optionChanged(this.value)">
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="type">Enter a Type</label>
                                            <select id="type" name="region" onchange="optionChanged(this.value)" value = "conventional">
                                                <option id='conventional' value="conventional">Conventional</option>
                                                <option id='organic' value="organic">Organic</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class = "filter list-group-item">
                                            <label class="col-form-label" for="region">Region</label><br>
                                                <select id="region" name="region" onchange="optionChanged(this.value)"></select>
                                            <!-- <option value="Albany">Albany</option> -->
                                        </li>
                                    </ul>
                                </div>
                                <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                                <br>
                                <button id="reset-btn" type="button" class="btn btn-default">Reset Filter</button>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-10">
                <div id="table-area" class="">
                    <table id="table" class="table table-striped">
                        <thead>
                            <tr>
                                <th class="table-head">PLU 4046</th>
                                <th class="table-head">PLU 4225</th>
                                <th class="table-head">PLU 4770</th>
                                <th class="table-head">Date</th>
                                <th class="table-head">Geography</th>
                                <th class="table-head">Avg Price</th>
                                <th class="table-head">Total Bags</th>
                                <th class="table-head">Type</th>
                                <th class="table-head">Total Volume</th>
                                <th class="table-head">Year</th>
                                
                                <!-- <th class="table-head">Small Bags</th>
                                <th class="table-head">Large Bags</th>
                                <th class="table-head">XLarge Bags</th> -->
                                
                                
                                
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>







    <!-- Footer-->
    <footer>
        <!-- <span class="bottom">UFO Sightings</span> -->
        <p class="bottom"><b>CADO Creations&copy;2021</b></p>
    </footer>

    <!-- our JS -->
    <script src="../static/js/regions.js"></script>
    <script src="../static/js/table.js"></script>
    
    <!-- <script src="../static/js/logic.js"></script> -->


</body>

</html>